@model Test.WebSite.Mvc.TestUser

@using HtmlHelpers;

@{
    ViewBag.Title = "Index";
}

<script src="~/scripts/jquery-1.8.2.min.js" type="text/javascript"></script>
<script src="~/scripts/knockout-2.2.0.debug.js" type="text/javascript"></script>


<h2>Index</h2>
@*<div data-bind="with: data">*@

@using(Html.KO().DataContext())
{    
    @Html.KO().TextBox(model => model.FirstName)
    <div id="Val-FirstName"></div>

    @(Html.KO().TextBox(model => model.LastName))
    @Html.ValidationMessageFor(model => model.FirstName)
    <div id="Val-LastName"></div>
    
    
    using (Html.KO().DataContext(m => m.Address))
    {
        @Html.KO().TextBox("Number")
        @Html.KO().TextBox("Street")
        @Html.KO().TextBox("Postcode")
    }
    
    using (Html.KO().DataContext(m => m.Address))
    {
        @Html.KO().TextBox("Number")
        @Html.KO().TextBox("Street")
        @Html.KO().TextBox("Postcode")
    }
    
}



<input type="button" id="Save" value="Save" data-bind="click: Save" />

    @*@(Html.KO().ViewModel())*@

    <script type="text/javascript">
        var viewModel =
            {
                data: {
                    FirstName: ko.observable(''),
                    LastName: ko.observable(''),
                    DateOfBirth: ko.observable(''),
                    NumberOfChildren: ko.observable(''),
                    Address: {
                        Number: ko.observable(''),
                        Street: ko.observable(''),
                        Postcode: ko.observable('')
                    }
                },
                Save: function () {
                    $.ajax({
                        url: "/Knockout/Save",
                        data: ko.toJSON(viewModel.data),
                        type: 'post',
                        contentType: 'application/json; charset=utf-8'
                    })
                .done(function (result) {
                    viewModel.Load(result)
                })
                .fail(function (err) {

                    var errorData = $.parseJSON(err.responseText);

                    $("#Val-FirstName").html("");
                    $("#Val-LastName").html("");

                    for (var p in errorData) {
                        if (p === '') {
                        }
                        else {
                            $("#Val-" + p).html(errorData[p]);
                        }
                    }
                });
                },
                Load: function(newData)
                {
                    var assignData = function(existingData, newData)
                    {
                        for (var field in newData) {
                            if (existingData.hasOwnProperty(field) && typeof (existingData[field]) == "function") {
                                existingData[field](newData[field]);
                            }
                            else {
                                assignData(existingData[field], newData[field]);
                            }
                        }
                    }

                    assignData(this.data, newData);
                }
            }

        viewModel.Load(@Html.Raw(Json.Encode(Model)));

        ko.applyBindings(viewModel);
    </script>



    <script type="text/javascript">
        //var Save = function () {
        //    $.ajax({
        //        url: "/Knockout/Save",
        //        data: ko.toJSON(viewModel.data),
        //        type: 'post',
        //        contentType: 'application/json; charset=utf-8'
        //    })
        //.done(function (result) {
        //    for (var field in result) {
        //        viewModel.data[field](result[field]);
        //    }
        //})
        //.fail(function (err) {

        //    var errorData = $.parseJSON(err.responseText);

        //    $("#Val-FirstName").html("");
        //    $("#Val-LastName").html("");

        //    for (var p in errorData) {
        //        if (p === '') {
        //        }
        //        else {
        //            $("#Val-" + p).html(errorData[p]);
        //        }
        //    }
        //});
        //};

        //$(document).ready(function () {
        //    $("#Save").click(function () {
        //        Save();
        //    })
        //});
    </script>
